^{:watch-dirs ["devcards/src/cljs"]
  :log-file   "log/figwheel-main.log"
  :log-level  :info
  :npm        {:bundles {"dist/index.bundle.js" "devcards/src/js/index.js"}}}
{:main            peanuts.cards.main
 :devcards        true
 :preloads        [devtools.preload]
 :optimizations   :none
 :pretty-print    true
 :source-map      true
 :asset-path      "js/compiled/dev"
 :output-to       "resources/public/js/compiled/app.js"
 :output-dir      "resources/public/js/compiled/dev"
 :closure-defines {goog.DEBUG true}}